.cartTitle {
  text-align: center;
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  margin-bottom: 45px;
}

.total {
  text-align: right;
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  margin-right: 48px;
  margin-top: 32px;
}