.formSection {
  background-color: #F2F5F9;
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 0px;
}
.title {
  text-align: center;
  font-weight: var(--fw-700);
  font-size: var(--fs-h2);
  margin-bottom: 35px;
}
.inputForm {
  padding: 20px 26px;
  display: block;
  margin:  30px 0 0 0;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff;
}

.inputFormError {
  padding: 20px 26px;
  display: block;
  margin:  30px 0 0 0;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff;
  outline: 1px solid #E86880;
}
.inputForm:focus {
  outline: 1px solid #4892EC;
}

.errorMessage {
  text-align: start;
  color: #E86880;
  font-size: 12px;
  margin-top: 10px;
}

.form {
  width: 100%;
  max-width: 430px;
  display: inline-block;
}

.buttonForm {
  max-width: 430px;
}

.buttonBlue {
  display: block;
  background-color: var(--color-blue);
  width: 100%;
  margin:  30px 0 0 0;
  height: 60px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: var(--fw-600);
  border: 1px solid transparent;
  letter-spacing: 0.07em;
  text-decoration: none;
  cursor: pointer;
}

.buttonBlue:disabled,
.buttonBlue[disabled]{
  background-color: #689ddf;
  color: #FFFFFF;
}

.messageTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: var(--fw-500);
  line-height: 31px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.messageTitle span {
  font-weight: var(--fw-700);
}

.messageText {
  font-size: var(--fs-text);
  font-weight: var(--fw-500);
  line-height: 21px;
  margin-bottom: 10px;
}

.messageText span{
  font-weight: var(--fw-700);
}